// =============================================================================
// Font Styling
// =============================================================================

@font-face {
  font-family: 'Flama';
  src: url('../fonts/flamaultracondensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/flamaultracondensed-medium-webfont.woff') format('woff'),
	   url('../fonts/flamaultracondensed-medium-webfont.ttf')  format('truetype'),
	   url('../fonts/flamaultracondensed-medium-webfont.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
	background-color: $site-bg;
	overflow-x: hidden;
}

a {

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Flama";
}

h1 {
	font-size: 60px;
	letter-spacing: 2px;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}

.font-white {
	color: $white;
}

.font-dark-blue {
	color: $dark-blue-text;
}

.font-orange {
	color: $orange;
}

.font-grey {
	color: $grey;
}

.font-mid-grey {
	color: $mid-grey;
}

// =============================================================================
// Header Style
// =============================================================================
header {
	padding-top: $padding-small;
	padding-bottom: $padding-small;
}


// =============================================================================
// Site container size Style
// =============================================================================
.content {
	max-width: 1000px;
}


// =============================================================================
// Navbar Styling
// =============================================================================

nav {
	position: fixed;
	background-color: $nav-bar-bg;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70px;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 999;
	text-align: center;

	a {
		font-size: $icon-size;
	}

	i {
		width: 100%;
		padding: $padding-base;
		color: $white;
		border-bottom: 1px solid #454545;
	}
}

// =============================================================================
// Footer Styling
// =============================================================================

footer {
	padding-top: $padding-small;
	padding-bottom: $padding-small;

	h2 {
		text-transform: uppercase;
		color: $mid-grey;
	}

	.footerInfo {
		padding-left: $padding-base;
	}

	.socialMedia {
		padding-right: $padding-base;
		float: right;
		text-align: right;

		i{
			padding-right: $padding-small;
			color: $orange;
			font-size: $social-icon-size;

			&:hover {
				@include transition (all 0.3s ease-in-out);
				color: $mid-grey;
			}
		}
	}
}