// =============================================================================
// Layout Helpers layout
// =============================================================================
.flush { 
	margin: 0 ((-$grid-gutter-width)/2);
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
/** Margin **/
.margin-xs {
	margin: $padding-xs;
}
.margin-sm {
	margin: $padding-small;
}
.margin-md {
	margin: $padding-base;
}
.margin-lg {
	margin: $padding-large;
}
.margin-xlg {
	margin: $padding-large + $padding-small;
}
.margin-top-none {
	margin-top: 0;
}
.margin-top-xs {
	margin-top: $padding-xs;
}
.margin-top-sm {
	margin-top: $padding-small;
}
.margin-top-md {
	margin-top: $padding-base;
}
.margin-top-lg {
	margin-top: $padding-large;
}
.margin-top-xlg {
	margin-top: $padding-large + $padding-small;
}
.margin-right-none {
	margin-right: 0;
}
.margin-right-xs {
	margin-right: $padding-xs;
}
.margin-right-sm {
	margin-right: $padding-small;
}
.margin-right-md {
	margin-right: $padding-base;
}
.margin-right-lg {
	margin-right: $padding-large;
}
.margin-right-xlg {
	margin-right: $padding-large + $padding-small;
}
.margin-bottom-none {
	margin-bottom: 0;
}
.margin-bottom-xs {
	margin-bottom: $padding-xs;
}
.margin-bottom-sm {
	margin-bottom: $padding-small;
}
.margin-bottom-md {
	margin-bottom: $padding-base;
}
.margin-bottom-lg {
	margin-bottom: $padding-large;
}
.margin-bottom-xlg {
	margin-bottom: $padding-large + $padding-small;
}
.margin-left-none {
	margin-left: 0;
}
.margin-left-xs {
	margin-left: $padding-xs;
}
.margin-left-sm {
	margin-left: $padding-small;
}
.margin-left-md {
	margin-left: $padding-base;
}
.margin-left-lg {
	margin-left: $padding-large;
}
.margin-left-xlg {
	margin-left: $padding-large + $padding-small;
}
.no-margin {
	margin: 0;
}
/** Padding **/
.padding-xs {
	padding: $padding-xs;
}
.padding-sm {
	padding: $padding-small;
}
.padding-md {
	padding: $padding-base;
}
.padding-lg {
	padding: $padding-large;
}
.padding-xlg {
	padding: $padding-large + $padding-small;
}
.padding-top-none {
	padding-top: 0;
}
.padding-top-xs {
	padding-top: $padding-xs;
}
.padding-top-sm {
	padding-top: $padding-small;
}
.padding-top-md {
	padding-top: $padding-base;
}
.padding-top-lg {
	padding-top: $padding-large;
}
.padding-top-xlg {
	padding-top: $padding-large + $padding-small;
}
.padding-right-none {
	padding-right: 0;
}
.padding-right-xs {
	padding-right: $padding-xs;
}
.padding-right-sm {
	padding-right: $padding-small;
}
.padding-right-md {
	padding-right: $padding-base;
}
.padding-right-lg {
	padding-right: $padding-large;
}
.padding-right-xlg {
	padding-right: $padding-large + $padding-small;
}
.padding-bottom-none {
	padding-bottom: 0;
}
.padding-bottom-xs {
	padding-bottom: $padding-xs;
}
.padding-bottom-sm {
	padding-bottom: $padding-small;
}
.padding-bottom-md {
	padding-bottom: $padding-base;
}
.padding-bottom-lg {
	padding-bottom: $padding-large;
}
.padding-bottom-xlg {
	padding-bottom: $padding-large + $padding-small;
}
.padding-left-none {
	padding-left: 0;
}
.padding-left-xs {
	padding-left: $padding-xs;
}
.padding-left-sm {
	padding-left: $padding-small;
}
.padding-left-md {
	padding-left: $padding-base;
}
.padding-left-lg {
	padding-left: $padding-large;
}
.padding-left-xlg {
	padding-left: $padding-large + $padding-small;
}

.full-width {
	width: 100%;
}