/* Variables partial SASS */


// =============================================================================
// Color Palette
// =============================================================================
$orange: rgba(242, 98, 41, 1);
$white: #FFFFFF;
$dark-grey: #222222;
$grey: #727272;
$mid-grey: #333333;
$light-grey: #EFEFEF;



$site-bg: $white;
$nav-bar-bg: $mid-grey;
$nav-link-color: $white;
$nav-link-hover: $orange;
$client-p-color: $white;
$button-color: $dark-grey;
$item-content-color: $light-grey;

$item-p-color: $grey;

$divider: $orange;


// =============================================================================
// Font Sizes
// =============================================================================
$nav-font-size: 14px;
$subtitle-font-size: 16px;
$client-p-size: 18px;
$icon-size: 26px;
$social-icon-size: 32px;


// COLOR PALETTE 
$darkest-blue: rgba(36, 40, 47, 1);
$dark-grey-blue: rgba(47, 53, 61, 1);
$dark-blue-text: rgba(68, 73, 87, 1);
$dark-blue: #0097A7;
$primary-blue: #00BCD4;
$light-blue: rgba(177, 225, 234, 1);
$white: #FFFFFF;
$dark-yellow: #E6B00B;
$yellow: rgba(254, 192, 50, 1);
$dark-grey: #212121;


$light-grey: #cccccc;
$divider-color: #B6B6B6;
$aqua: rgba(31, 183, 140, 1);

//Default Fonts 

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;

//Layout Variables
$padding-base: 				20px;
$padding-base-vertical:     $padding-base;
$padding-base-horizontal:   $padding-base;
$padding-small: 			$padding-base - 10; // 10px
$padding-small-vertical:    $padding-small;
$padding-small-horizontal:  $padding-small;
$padding-large: 			$padding-base + 10; // 30px
$padding-large-vertical:    $padding-large;
$padding-large-horizontal:  $padding-large;
$padding-xs: 				$padding-small - 5; // 5px
$padding-xs-vertical:       $padding-xs;
$padding-xs-horizontal:     $padding-xs;
$padding-xl:				$padding-large + 10;// 40px
$padding-xxl:				$padding-xl + 10; 	//50px


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      $white;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            $yellow;

// Border Radius
$panel-border-radius: 6px;